Django==5.2.17
djangorestframework==3.16.1
django-cors-headers==4.7.0
django-filter==25.1
Pillow==12.3.0
reportlab==4.4.4
qrcode==8.2
python-dotenv==1.1.1
gunicorn==23.0.0
whitenoise==6.9.0
psycopg[binary]==3.2.10
cryptography==44.0.3
sentry-sdk==2.38.0
django-storages==1.14.6
azure-storage-blob==12.26.0
