Django==6.1.1
djangorestframework==3.18.1
django-cors-headers==4.9.0
django-filter==26.1
Pillow==12.3.0
reportlab==5.0.1
qrcode==8.2
python-dotenv==1.2.3
gunicorn==26.2.0
whitenoise==6.12.0
psycopg[binary]==3.3.5
cryptography==50.0.1
sentry-sdk==2.69.1
django-storages==1.14.6
azure-storage-blob==12.30.1
